<div class="container profile-area">

	<!-- Top row -->
	<div class="row">
		<div class="col-lg-3">
			<div class="card profile-image">
  				<img class="card-img-top" src="../Images/prof.png">
  				<% if (typeof user == 'object' && user){ %>
  				<% if (user.id != userview.fb_id){ %>
				<div class="profile-menu">
					<ul class="nav nav-pills nav-fill">
						<% if (friends){ %>
						<li class="nav-item" onclick ="removeFriend()">
    						<a class="nav-link" href="#">Remove Friend</a>
 						</li>
 						<% } else{ %>
						<li class="nav-item" onclick ="addFriend()">
    						<a class="nav-link" href="#">Add Friend</a>
 						</li>
 						<% } %>

						<li class="nav-item">
							<a class="nav-link" href="#">Report</a>
						</li>
					</ul>
				</div>
				<% } }%>
			</div>
		</div>

		<div class="col-lg-6">
			<div class="card profile-username">
  				<div class="card-body">
    				<p class="card-text">
				
				<%if(ownprofile){%>
				<script>
	function edName(){
		document.getElementById("txtbedit").readOnly = false;
		document.getElementById("txtbedit").style.border = "initial";
		document.getElementById("txtbedit").style.background = "initial";
		document.getElementById("tick")style.display = "initial";
		document.getElementById("edit").style.display = "none";
	}
	function subName(){
		document.getElementById("txtbedit").readOnly = true;
		document.getElementById("txtbedit").style.border = 0;
		document.getElementById("txtbedit").style.background = 0;
		document.getElementById("tick").style.display = "none";
		document.getElementById("edit").style.display = "initial";

	}
</script>
				<input id="txtbedit" readonly type="text" value="<%= userview.name %>">
				<span id="edit" onclick="edName()"><i class="material-icons">edit</i></span>
				<span id="tick" style="visibility:collapse;" onclick="subName()"><i class="material-icons">done</i></span>
				<%}else{%>
				<p><%= userview.name %></p>
				<% } %>
				</p>
  				</div>
			</div>
			<div class="card profile-bio">
  				<div class="card-body">
    				<p class="card-text">Some quick exampleome quick exampleome quick exampleome quick exampleome quick exampleome quick exampleome quick exampleome quick exampleome quick exampleome quick www <a href="ss">Read More</a></p>
  				</div>
			</div>
		</div>
		<div class="col-lg-3">
			<div class="card">
				<span class="card-head">Stats</span>
			</div>
		</div>
	</div>

	<!-- Bottom Row -->
	<div class="row">
		<div class="col-lg-3"">
			<div class="card card-friends">
				<span class="card-head">Friends</span>
				<table class="friends_table">
				<% 
				if(userfriends.length > 0){ %>
				<% for(var i=0; i < userfriends.length; i++) { %>
				   <tr>
				   <%console.log(userfriends[i]);%>
				     <td><a href="/profile/<%= userfriends[i].friend_id%>"><%= userfriends[i].name %></a></td>
				   </tr>
				<% } } %>
				</table>
			</div>
		</div>
		<div class="col-lg-3">
			<div class="card">
				<span class=" card-head">Highscores</span>
			</div>
		</div>
		<div class="col-lg-3">
			<div class="card">
				<span class="card-head">Trophies</span>
			</div>
		</div>
		<div class="col-lg-3">
			<div class="card">
				<span class="card-head">Latest Game</span>
			</div>
		</div>
	</div>
</div>

<% if (typeof user == 'object' && user){ %>
<script type="text/javascript">
	function addFriend(){
		socket.emit('addFriend', {user_id : <%= user.id %>, friend_id : <%= userview.fb_id %> })
		window.location.reload(true);
	}
	function removeFriend(){
		socket.emit('removefriend', {user_id : <%= user.id %>, friend_id : <%= userview.fb_id %> })
		window.location.reload(true);
	}
</script>
<% } %>
